version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    reviewers:
      - "JacobJoergensen"
  - package-ecosystem: "composer"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    reviewers:
      - "JacobJoergensen"
    versioning-strategy: increase
    open-pull-requests-limit: 10
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
