root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.php]
ij_php_indent_code_in_php_tags = true
ij_php_line_comment_add_space = true
ij_php_class_brace_style = end_of_line
ij_php_method_brace_style = end_of_line
ij_php_comma_after_last_array_element = false
ij_php_concat_spaces = true
ij_php_else_on_new_line = false
ij_php_else_if_style = combine
ij_php_do_while_brace_force = always
ij_php_for_brace_force = always
ij_php_if_brace_force = always
ij_php_blank_lines_before_package = 0
ij_php_blank_lines_after_package = 1
ij_php_blank_lines_before_imports = 1
ij_php_blank_lines_after_imports = 1
ij_php_blank_lines_after_function = 1
ij_php_blank_lines_before_return_statement = 1
ij_php_keep_blank_lines_before_right_brace = 0

[*.yml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
